<launch>
    <arg name="bag_name" default="$(env HOME)/terrasentia"/>

    <arg name="topics"
        value="/tf
               /tf_static
               /terrasentia/cmd_vel
               /terrasentia/motion_command
               /terrasentia/imu
               /terrasentia/livox/lidar
               /terrasentia/dlio/odom_node/odom
               /terrasentia/zed2i/zed_node/rgb/camera_info
               /terrasentia/zed2i/zed_node/rgb/image_rect_color/compressed
               /terrasentia/vision/keypoint
               /terrasentia/vision/keypoint_heatmap
               /terrasentia/vision/keypoint_vis_argmax/compressed
               /terrasentia/vision/keypoint_vis_heatmap/compressed
               /terrasentia/zed2i/zed_node/depth/camera_info
               /terrasentia/zed2i/zed_node/depth/depth_registered"/>
    
    <node name="rosbag_record" pkg="rosbag" type="record" args="--lz4 -o $(arg bag_name) $(arg topics)" output="log"/>
</launch>
