<launch>
    <!-- Params -->
    <arg name="pointcloud_topic" value="/terrasentia/livox/lidar" />
    <arg name="imu_topic"        value="/terrasentia/imu" />

	<group ns="terrasentia">
        <!-- terra_controller communication -->
        <node pkg="ts_websockets" type="node.py" name="ts_ws" respawn="true" output="screen">
            <!-- REMOVE IT LATER: ADDED TO PREVENT CMD_VEL FROM GETTING ACTIVATED -->
            <remap from="cmd_vel" to="cmd_vel_internal"/>
        </node>

        <!-- Enable auto mode with 1 in the message -->
        <node pkg="rostopic" type="rostopic" name="enable_auto_mode_pub" args="pub /terrasentia/enable_auto_mode std_msgs/Int8 1 -r 5" output="screen"/>
        <!-- <node pkg="ts_websockets" type="pub_controller_topics_node.py" name="pub_controller_gps_node" respawn="true" output="screen"/> -->

        <!-- Republish GPS messages -->
        <node pkg="terrasentia_navigation" type="gps_conversion.py" name="gps_conversion" output="screen" required="true"/>
        
        <!-- Republish imu messages -->
        <node pkg="terrasentia_navigation" type="imu_conversion.py" name="imu_conversion" output="screen" required="true"/>

        <!-- Republish motion_command messages -->
        <node pkg="terrasentia_navigation" type="motion_cmd_node.py" name="motion_cmd_node" output="screen" required="true"/>

        <!-- Launch multi camera transformations -->
        <include file="$(find terrasentia_navigation)/launch/terrasentia_tfs.launch" />

        <!-- Launch multi camera images -->
        <!-- <include file="$(find cam_publisher)/launch/run_cameras.launch" /> -->

        <!-- Connect to joystick -->
        <!-- <node name="joy_node" pkg="joy" type="joy_node" output="log" required="true">
            <param name="dev" type="string" value="/dev/input/js0"/>
        </node> -->

        <!-- Republish joystick to commands -->
        <!-- <node pkg="terrasentia_navigation" type="joy2commands.py" name="joy2cmd" output="screen" required="true">
            <param name="scale_linear" type="double" value="0.9" />
            <param name="scale_angular" type="double" value="3.0" />
        </node> -->

        <!-- Launch Unitree Go1 rosbag record trigger node -->
        <!-- <node pkg="terrasentia_navigation" type="bag_recorder.py" name="bag_recorder" output="screen" required="true"/> -->

        <include file="$(find zed_wrapper)/launch/zed2i.launch">
            <arg name="cam_pos_x"	value="0.17" /> 
            <arg name="cam_pos_y"	value="0.0" />
            <arg name="cam_pos_z"	value="0.26" />
        </include>

        <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
            <arg name="xfer_format" value="2" />
        </include>	

		<!-- Launch MHE state estimation -->
        <!-- <node pkg="unitree_navigation" type="mhe_vio_node.py" name="mhe_node" required="true" output="screen"/> -->
        <!-- Launch Livox to LaserScan converter -->
        <node pkg="terrasentia_navigation" type="livox_to_scan.py" name="livox_to_scan" output="screen">
            <param name="livox_topic" value="/terrasentia/livox/lidar"/>
            <param name="scan_topic" value="/terrasentia/scan2"/>
            <param name="points_per_scan" value="1081"/>
        </node>
	</group>
</launch>
