<launch>
    <!-- Params -->
    <arg name="pointcloud_topic" value="/terrasentia/velodyne_points" />
    <arg name="imu_topic"        value="/terrasentia/zed2/zed_node/imu/data" />

	<group ns="terrasentia">
        <!-- terra_controller communication -->
        <!-- <node pkg="ts_websockets" type="node.py" name="ts_ws" respawn="true" output="screen"/> -->
        <node pkg="ts_websockets" type="pub_controller_topics_node.py" name="pub_controller_gps_node" respawn="true" output="screen"/>
        
        <!-- Republish imu messages -->
        <node pkg="terrasentia_navigation" type="imu_conversion.py" name="imu_conversion" output="screen" required="true"/>

        <!-- Republish motion_command messages -->
        <node pkg="terrasentia_navigation" type="motion_cmd_node.py" name="motion_cmd_node" output="screen" required="true"/>

        <!-- Launch multi camera transformations -->
        <include file="$(find terrasentia_navigation)/launch/terrasentia_tfs.launch" />

        <!-- Launch multi camera images -->
        <include file="$(find cam_publisher)/launch/run_cameras.launch" />

        <!-- Connect to joystick -->
        <node name="joy_node" pkg="joy" type="joy_node" output="log" required="true">
            <param name="dev" type="string" value="/dev/input/js0"/>
        </node>

        <!-- Republish joystick to commands -->
        <node pkg="terrasentia_navigation" type="joy2commands.py" name="joy2cmd" output="screen" required="true">
            <param name="scale_linear" type="double" value="0.9" />
            <param name="scale_angular" type="double" value="3.0" />
        </node>

        <!-- Launch Unitree Go1 rosbag record trigger node -->
        <node pkg="terrasentia_navigation" type="bag_recorder.py" name="bag_recorder" output="screen" required="true"/>

        <!-- Launch Velodyne VLP-16 point cloud -->
        <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
            <arg name="laserscan_ring" value="16" />
        </include>

        <!-- Launch DLIO Odometry Node --> 
        <node name="dlio_odom" pkg="direct_lidar_inertial_odometry" type="dlio_odom_node" output="log" clear_params="true">

            <!-- Load parameters -->
            <rosparam file="$(find terrasentia_navigation)/configs/dlio.yaml" command="load"/>
            <rosparam file="$(find terrasentia_navigation)/configs/params.yaml" command="load"/>

            <!-- Subscriptions -->
            <remap from="~pointcloud" to="$(arg pointcloud_topic)"/>
            <remap from="~imu" to="$(arg imu_topic)"/>

            <!-- Publications -->
            <remap from="~odom"     to="dlio/odom_node/odom"/>
            <remap from="~pose"     to="dlio/odom_node/pose"/>
            <remap from="~path"     to="dlio/odom_node/path"/>
            <remap from="~kf_pose"  to="dlio/odom_node/keyframes"/>
            <remap from="~kf_cloud" to="dlio/odom_node/pointcloud/keyframe"/>
            <remap from="~deskewed" to="dlio/odom_node/pointcloud/deskewed"/>
        </node>

        <include file="$(find zed_wrapper)/launch/zed2.launch">
            <arg name="cam_pos_x"	value="0.17" /> 
            <arg name="cam_pos_y"	value="0.0" />
            <arg name="cam_pos_z"	value="0.245" />
        </include>

		<!-- Launch MHE state estimation -->
        <!-- <node pkg="unitree_navigation" type="mhe_vio_node.py" name="mhe_node" required="true" output="screen"/> -->
	</group>
</launch>
