<launch>
    <!-- Broadcast head camera tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_front_broadcaster" args="0.23222 0 0.125 0 0 0 base_link front_camera" />

    <!-- Broadcast left camera tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_left_broadcaster" args="0 0.11 0.135 1.5708 0 0 base_link left_camera" />

    <!-- Broadcast right camera tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_right_broadcaster" args="0 -0.11 0.135 -1.6197 0 0 base_link right_camera" />

     <!-- Broadcast head left camera frame tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="front_camera_left_broadcaster" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 front_camera front_mono_frame" />

    <!-- Broadcast head right camera frame tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="front_camera_right_broadcaster" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 left_camera left_mono_frame" />

    <!-- Broadcast left left camera frame tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="left_camera_left_broadcaster" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 right_camera right_mono_frame" />
</launch>