#params
gain_ctrack_error=100
gain_heading_error=100
gain_velocity_error=100
gain_kappa_effort=10
gain_accel_effor=10
gain_deriv_kappa=130
gain_deriv_accel=10

ref_cte=0.0
ref_epsi=0.0
ref_v=0.5

Rmin=0.75

timestep_dt=0.3
timestep_N=10
bounds_vars_limit=1.0e19
bounds_accel=1
options_max_cpu_time_seconds=0.5